*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#nav{
    display: flex;
    justify-content:space-between;
    padding: 30px;

}
#ul{
    text-decoration: none;
    font-size: 20px;
     display: flex;
    justify-content: flex-end;
    font-weight: 500;
    color: white;
    list-style: none;
    gap: 20px;
    list-style-type: none;
    padding-top: 16px;
    /* text-decoration: none;  */



}
.a{
    text-decoration: none;
    color: white;
    /* padding-top: 10px; */
}
ul :hover{
    color: bisque;
    text-decoration: underline;
    
    
}
#img{
    width: 40px;
    height: 50px;
}

body{
     background-color: rgb(49, 2, 2);

}
h1{
    color: orange
    ;
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
p {
    color: white;
    font-size: 12px;padding-top: 20px;
    padding-bottom: 20px;

}
h4{
    color: white;
    

    font-family: 'Courier New', Courier, monospace;
}

.hero{
    padding-left: 70px;
    padding-top: 100px;
    /* padding-right: 200px; */
    /* border: 2px solid black; */
}
.btn1{
    border-radius: 10px;
    background-color: orange;padding: 2px;
    font-weight: 400;
}
.btn2{
    border-radius: 10px;
padding: 2px;
background-color:transparent;
color: white;
}
.btn2:hover{
    color: orange;
}
.btn1:hover{
    background-color: black;
    color: white;
}
.main{
    /* height: 300px;
     */
     /* width: 900px; */
    display: flex;
    align-items: center;
    /* justify-content: end;  */
    


    
}
#mainimg{
    height: 500px;
    width: 500px;
}

.container{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
